/* rotate cicle */
.circle-main {
  animation: spinClockwise 10s linear infinite;
}

@keyframes spinClockwise {
  0% {
    transform: rotate(0deg) translateX(350px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(350px) rotate(-360deg);
  }
}

.circle-2 {
  animation: spinClockwise600 7s linear infinite;
}

@keyframes spinClockwise600 {
  0% {
    transform: rotate(0deg) translateX(320px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(320px) rotate(-360deg);
  }
}

.circle-3 {
  animation: spinClockwise600 8s linear infinite;
}

@keyframes spinClockwise600 {
  0% {
    transform: rotate(0deg) translateX(320px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(320px) rotate(-360deg);
  }
}