/* bg animate */
.cus-wrapper span{
  position: fixed;
  bottom: -180px;
  height: 50px;
  width: 50px;
  z-index: -1;
  background-color: #fafafa;
  box-shadow: 0 0 50px  #d8d8d8, 
              0 0 100px #d8d8d8, 
              0 0 150px #d8d8d8,
              0 0 150px #d8d8d8;
  animation: animate 13s linear infinite;
  border-radius: 30%
}

.cus-wrapper span:nth-child(1) {
  left: 60px;
  animation-delay: 0.6s;
}


.cus-wrapper span:nth-child(3) {
  left: 30%;
  animation-delay: 5s;
  width: 80px;
  height: 80px;
}

.cus-wrapper span:nth-child(4) {
  left: 30%;
  animation-delay: 5s;
  width: 80px;
  height: 80px;
}

.cus-wrapper span:nth-child(6) {
  left: 50%;
  animation-delay: 7s;
}

.cus-wrapper span:nth-child(7) {
  left: 60%;
  animation-delay: 6s;
}

.cus-wrapper span:nth-child(8) {
  left: 70%;
  animation-delay: 8s;
}

.cus-wrapper span:nth-child(9) {
  left: 80%;
  animation-delay: 10s;
  width: 90px;
  height: 90px;
}

.cus-wrapper span:nth-child(10) {
  left: 90%;
  animation-delay: 4s;
}

@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80%{
    opacity: .7;
  }

  100%{
    transform: translateY(-1300px) rotate(360deg);
    opacity:0;
  }
}