/* bg animate */
.cus-wrapper span {
  position: fixed;
  bottom: -180px;
  height: 50px;
  width: 50px;
  z-index: -1;
  animation: animate 13s linear infinite;
}

.cus-wrapper span:nth-child(1) {
  left: 30%;
  animation-delay: 5s;
  width: 80px;
  height: 80px;
}

.cus-wrapper span:nth-child(2) {
  left: 30%;
  animation-delay: 5s;
  width: 80px;
  height: 80px;
}

.cus-wrapper span:nth-child(3) {
  left: 60%;
  animation-delay: 7s;
}

.cus-wrapper span:nth-child(4) {
  left: 75%;
  animation-delay: 6s;
}

.cus-wrapper span:nth-child(5) {
  left: 80%;
  animation-delay: 8s;
}

.cus-wrapper span:nth-child(6) {
  left: 90%;
  animation-delay: 10s;
  width: 90px;
  height: 90px;
}

.cus-wrapper span:nth-child(7) {
  left: 95%;
  animation-delay: 4s;
}


@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80%{
    opacity: .7;
  }

  100%{
    transform: translateY(-1000px) rotate(360deg);
    opacity:0;
  }
}